@import url('https://fonts.googleapis.com/css?family=Delius');

body {
  margin: 0;
  background-color: #f2f7f5;


  /* TEMP */
  font-family: 'Delius', 'Times New Roman', Times, serif;
  color: #2d334a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
